<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"><%= I18n.t(".activerecord.attributes.cnab_importation.status") %></th>
            <th scope="col"><%= I18n.t(".activerecord.attributes.cnab_importation.created_at") %></th>
            <th class="t-center" scope="col"><%= I18n.t(".views.cnab_importation.index.info_summary") %></th>
          </tr>
        </thead>
        <tbody>
          <% @imports.each do |import| %>
            <tr>
              <td><%= import.id %></td>
              <td><%= I18n.t(".activerecord.attributes.cnab_importation.statuses.#{import.status}") %></td>
              <td><%= format_date(import.created_at) %></td>
              <td class="t-center">
                <%= link_to import_summary_path(import.id) do %>
                  <i class="fas fa-eye fa-2x"></i>
                <% end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>