<p id="notice"><%= notice %></p>
<h1>Arquivos CNAB</h1>
<br>
<%= link_to 'Importar arquivo CNAB', new_file_imported_path %>
<br>
<br>
<% if @file_importeds.present? %>
  <table>
    <thead>
      <tr>
        <th>Nome do arquivo</th>
        <th>Criado em</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @file_importeds.each do |file_imported| %>
        <tr>
          <td><%= link_to file_imported.file.filename, url_for(file_imported.file) %></td>
          <td><%= I18n.l(file_imported.created_at, format: :long) %></td>
          <td><%= link_to 'Apagar', file_imported, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<%= link_to 'Home', root_path %>
