<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>

  <div class='field'>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
  </div>

  <div class='field'>
    <%= f.label :password, 'Senha' %>
    <% if @minimum_password_length %>
    <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: 'new-password' %>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation, 'Confirmar Senha' %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'new-password' %>
  </div>

  <div class='actions'>
    <%= f.submit 'Criar Conta' %>
  </div>
<% end %>

<br>
<%= link_to 'Já Possuo Conta', new_user_session_path %>
