<p id="notice" class=""><%= notice %></p>

<h1>Account Transactions</h1>
<div class="card">
<div class="card-header">
<%= link_to 'New Cnab Import', new_cnab_import_path, class: "btn btn-info text-white" %>
</div>
<div class="card-body">
<table class="table">
  <thead>
    <tr>
      <th>Transaction kind</th>
      <th>Exec date</th>
      <th>Exec time</th>
      <th>Value</th>
      <th>Card</th>
      <th>Cpf</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_transactions.each do |account_transaction| %>
      <tr>
        <td><%= account_transaction.transaction_kind_id %></td>
        <td><%= account_transaction.exec_date %></td>
        <td><%= account_transaction.exec_time %></td>
        <td><%= account_transaction.value %></td>
        <td><%= account_transaction.card %></td>
        <td><%= account_transaction.cpf %></td>
        <td><%= account_transaction.company_id %></td>
        <td><%= link_to 'Show', account_transaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<center><%= will_paginate @account_transactions %></center>


