<p id="notice" class=""><%= notice %></p>

<div class="card">
<div class="card-header">
<%= link_to 'New Cnab Import', new_cnab_import_path, class: "btn btn-info text-white" %>
</div>
<div class="card-body">
<table class="table">
  <thead>
    <tr>
      <th>Transação</th>
      <th>Empresa</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Valor</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @account_transactions.each do |account_transaction| %>
      <tr>
        <td><%= account_transaction.transaction_kind.description %></td>
        <td><%= account_transaction.company.name %></td>
        <td><%= account_transaction.exec_date.strftime("%d/%m/%Y") %></td>
        <td><%= account_transaction.exec_time.strftime("%H:%M:%S") %></td>
        <td><%= account_transaction.value.format %></td>
        <td><%= account_transaction.company.account_balance.value.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<center><%= will_paginate @account_transactions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></center>


