<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Operação</th>
          <th>Data/Hora</th>
          <th>Valor</th>
          <th>CPF do beneficiário</th>
          <th>Cartão de crédito</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.transaction_type %></td>
            <td><%= transaction.event_date_time %></td>
            <td><%= number_to_currency(transaction.amount, unit: "R$", separator: ",", delimiter: ".") %></td>
            <td><%= transaction.beneficiary_cpf %></td>
            <td><%= transaction.credit_card_number %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4"></td> 
          <td>
            <span class="pull-right <%=  @store.current_balance.negative? ? 'text-danger' : 'text-success' %>">
              Saldo: <%= @store.current_balance %>
            </span>
          </td>
        </tr>
      </tbody>
    </table> 
  </div>

  <%= link_to 'Voltar', stores_path, class: "btn btn-secondary" %>
</div>