<div class="row mt-2">
  <div class="col-8">
    <h1><%= @store.name %></h1>
    <p><%= @store.shopkeeper %></p>
  </div>
  <div>
    <h2>Saldo: <%= number_to_currency(@store.balance/100.0, unit: "R$ ", separator: ",", delimiter: ".") %></h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Tipo</th>
          <th>Valor</th>
          <th>Cpf</th>
          <th>Cartão</th>
        </tr>
      </thead>
      <tbody>
        <% @store.transactions.each do |transaction| %>
          <tr>
            <td>
              <%= transaction.processed_at.strftime("%d/%m/%y - %H:%M:%S") %>
            </td>
            <td>
              <%= transaction.kind_description %> - <%= transaction.kind_text %>
            </td>
            <td>
              <%= number_to_currency(transaction.amount/100.0, unit: "R$ ", separator: ",", delimiter: ".") %>
            </td>
            <td>
              <%= transaction.cpf %>
            </td>
            <td>
              <%= transaction.card %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
