<div id="content">
  <%= render partial: "layouts/partials/navbar_principal" %>
  <!-- End of Topbar -->

  <!-- Begin Page Content -->
  <div class="container-fluid">
    <%= exibir_flash %>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Arquivo CNAB</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-4 mb-8">
        <%= simple_form_for @arquivo_cnab do |f| %>
          <%= f.input :documento, as: :file %>
          <%= f.hidden_field :documento_cache %>
          <%= f.submit :enviar %>
        <% end %>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>