.page-header
  %h1 Import financial entries

= form_for :upload, html: { multipart: true, url: import_financial_entries_path, class: "form form-horizontal financial_entry" } do |f|
  .form-group
    = f.label :file, class: 'control-label col-lg-1'
    .col-lg-10
      = f.file_field :file, class: 'form-control', required: true, accept: Mime[:text]
    = f.error_span(:file)
  .form-group
    .col-lg-offset-1.col-lg-10
      = f.submit 'Upload' ,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), stores_path, :class => 'btn btn-default'
