- model_class = FinancialEntry
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:kind) + ':'
  %br
  = @financial_entry.kind
%p
  %strong= model_class.human_attribute_name(:transaction_date) + ':'
  %br
  = @financial_entry.transaction_date
%p
  %strong= model_class.human_attribute_name(:transaction_time) + ':'
  %br
  = @financial_entry.transaction_time
%p
  %strong= model_class.human_attribute_name(:amount) + ':'
  %br
  = @financial_entry.amount
%p
  %strong= model_class.human_attribute_name(:social_number) + ':'
  %br
  = @financial_entry.social_number
%p
  %strong= model_class.human_attribute_name(:card_number) + ':'
  %br
  = @financial_entry.card_number
%p
  %strong= model_class.human_attribute_name(:store_id) + ':'
  %br
  = @financial_entry.store_id


= link_to t('.back', :default => t("helpers.links.back")), financial_entries_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_financial_entry_path(@financial_entry), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), financial_entry_path(@financial_entry), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
