.row.justify-content-center
  .col-12

    .card
      .card-header
        .row
          .col-12
            %h2.h4.card-title.mb-0= store.name

      .card-body
        .card-text

          .row.mb-3
            .col-12
              %label= Store.human_attribute_name(:balance)
              %span.text-muted= number_to_currency store.balance

          .row
            .col-12
              %table.table
                %thead
                  %tr
                    %th.text-center{ colspan: 6 }
                      = Store.human_attribute_name(:operations)

                  %tr
                    %th= Operation.human_attribute_name(:operation_type)
                    %th= Operation.human_attribute_name(:occurred_at)
                    %th= Operation.human_attribute_name(:value)
                    %th= Operation.human_attribute_name(:cpf)
                    %th= Operation.human_attribute_name(:card_number)

                %tbody
                  - store.operations.each do |operation|
                    %tr
                      %td= I18n.t("activerecord.attributes.operation.operation_types.#{operation.operation_type}")
                      %td= l(operation.occurred_at)
                      %td= number_to_currency operation.value
                      %td= operation.cpf
                      %td= operation.card_number
