<!DOCTYPE html>
<html>
  <head>
    <title>Pagnet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <ul class="nav justify-content-center">  
        <li class="nav-item"><%= link_to 'Clientes', customers_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Enviar cnab', cnab_path, class: 'nav-link' %></li>
      </ul>
    </nav>
    <div id="contents">
      <%= yield %>
    </div>
  </body>
</html>
