<!DOCTYPE html>
<html>
  <head>
    <title>Desafio back end blu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'layouts/header' %>

    <%= render partial: 'layouts/messages' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>